<h1>New Post Page</h1>

<%= form_for(@post, :html => { :multipart => true }) do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title, :required => true %>
</div>
<div>
  <div>
  <%= f.label "Text body for post" %>
  </div>
  <%= f.text_area :body, :required => true, size: "100x25" %>
</div>

<div>
  <%= f.submit "Submit your post" %>
</div>

<% end %>

